<%= form_with(model: @blog, local: true) do |form| %>

  <div class="題名">
    <%= form.label :題名 %>
    <%= form.text_field :title %>
  </div>

    <div class="時間">
    <%= form.label :開始時間 %>
    <%= form.datetime_select :start_time %>
  </div>
  
  <div class="内容">
    <%= form.label :内容 %>
    <%= form.text_field :content %>
  </div>


  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>
